
<div class="well">
        <h1 >lista de estudiantes</h1>
        <table class="table table-striped table-hover ">
                <thead>
                    <tr class="active">
                        <th>Name</th>
                        <th >Age</th>
                        <th colspan="3"> Email</th>
                         
                    </tr>
               
                </thead>
                <tbody>
                        <% @students.each do |student| %>
                  <tr class="active"> 
                      <td><%= student.name %></td>
                   <td><%= student.age %></td> 
                   <td><%= student.email%></td>
                   
                <% end %>
                
                </tbody>
            </table>
             
</div>
 
